html body {
    background: url(https://hdwallsource.com/img/2014/9/black-dog-wallpaper-hd-44099-45205-hd-wallpapers.jpg);
    background-size: cover;
    background-position: center; 
    font-family: "Lato";
    color: white;
}

body,
html {
    width: 100%;
    height: 100%;
    
}

body h1 {
	font-weight: 700;
	font-size: 5em;
}


div.content{
	padding-top: 25%;
	text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

hr {
 
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}
.navbar div
{
    color:white;
}

.navbar li { color: #000 } 

span.icon-bar
{
    background: :steelblue;
}

.dog--desc
{
    color:steelblue;
    font-size: 30px;
    text-align: center;
}

.tinder--detail .contain
{
    padding:70px;
    padding-left: 70px;
    height:100%;
    border:solid 2px green;
    border-radius: 50px; 
    background: rgba(0,0,0,0.7);
    transition: 0.2s linear;
}

.detail--photo
{
    height:100%;
    width:100%;
}

.dog--breed
{
    color:lightgreen;
    font-size: 30px;
}

.dog--age
{
    color:lightgreen;
    font-size: 30px;
}

.dog--weight
{
    color:lightgreen;
    font-size: 30px;
}
.dog--price
{
    color:orange;
    font-size:50px;
}