<%include ./partials/header.ejs%>

		<div class="team-section">
			<h1>Our Team</h1>
			<div class="border"></div>
			<div class="ps">
				<a href="#p1"><img src="img/cycle.jpg" alt=""></a>
				<a href="#p2"><img src="img/cycle.jpg" alt=""></a>
				<a href="#p3"><img src="img/cycle.jpg" alt=""></a>
				
			</div>
			
			<div class ="section" id="p1">
				<div class="name">Ishaan Kohli</div>
				<div class="border"></div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
				</p>
			</div>
			
			<div class ="section" id="p2">
				<div class="name">Jayant Singla</div>
				<div class="border"></div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
				</p>
			</div>
			
			<div class ="section" id="p3">
				<div class="name">Harsh Batra</div>
				<div class="border"></div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
				</p>
			</div>
			<div class ="section" id="p4">
				<div class="name">Deep Kiran</div>
				<div class="border"></div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
				</p>
			</div>

			<div class ="section" id="p5">
				<div class="name">Priyanka</div>
				<div class="border"></div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
				</p>
			</div>
			
		</div>

<%include ./partials/footer.ejs%>